body {
    background: black;
    color: white;
}

header {
    border-bottom: dashed 6px rgb(90, 1, 1);
    font-size: 36;
    padding: 20px;
    color: rgb(175, 6, 6);
}

section {
    background: rgb(90, 1, 1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
   
}

.chamada-texto {
    margin-right: 5%;
}